/*
 * All styling for the presentation.
 */
 
 
 
 /*
  * Global
  */
.section {
   	border: 1px solid black;
   	width:90%;
   	height:auto;
   	margin: 40px auto;
   }  
  
  /*
   * Drew
   */
   
   #drew {

   }