/*
 * All styling for the presentation.
 */
 
 
 
 /*
  * Global
  */
  
  h1, h2, h3, h4 {
  	text-align:center;
  }
  
  
.section {
   	border: 1px solid black;
   	width:90%;
   	height:auto;
   	margin: 40px auto;
   }  
  
  /*
   * Drew
   */
   
   .drewSN {
   		display:block;
		margin:50px auto 100px auto;
		width:80%;
   	}
   	
   	#speeding {
   		width:100%;
   	}
   	
   	#drewTopics {
   		width:50%;
   		margin:40px auto;
   	}
   .tbl {
   		display:block;
   		width:100%;
   		margin:auto;
   		border: 1px solid black;
   }
   
   .tblr {
   		display:inline-block;
   		width:100%;
   	}
   	
   	.tblc {
   		text-align:center;
   		display:inline-block;
   		width:49%;
   	}
   	
   	.tbl p {
		margin:20px 0;
   	 }
   	 
   	.lgnum {
   		font-size:70px;
   	}
   	
   	.smtext {
   		font-style:italic;
   	}
   	
   	/* List Styling */
   	
   	.srclst {
   		padding:0;
		text-align:center;
   		list-style:none;
   	}
  
  
  	#drewS3 {
  		width:100%;
  		display:inline-block;
  	}
  	
   	#futureImg {
   		display:block;
   		float:left;
   	   	width:61%;
   		margin:0;
   		padding: 0 2%;
   	}
   	
   	#futureTxt {
   		display:block;
		float:left;
   		width:30%;	
   		margin:0;
   		padding:0 2%;
   	}
   	
   	#futureTxt ol li {
   		margin:20px auto;
   	}
   	
   	.focus {
   		font-weight:bold;
   	}
   	
   	.emph {
   		font-style: italic;
   	}
   