/*
 * All styling for the presentation.
 */
 
 
 
 /*
  * Global
  */
  
  h1, h2, h3, h4 {
  	text-align:center;
  }
  
  
.section {
   	border: 1px solid black;
   	width:90%;
   	height:auto;
   	margin: 40px auto;
   	position:relative;
   }  

/*
* Allen
*/

#allen li {
  margin: 0 0 15px 0;
}


.img-left {
  display: block;
  float: left;
  margin: 0 0 5% 0;
  padding: 0 2%;
}

.img-right {
  display: block;
  float: right;
  margin: 0 0 5% 0;
  padding: 0 2%;
}

.clear {
  clear: both;
}

#carmargin {
  margin-left: 500px;
}

.centered {
  display: block;
  margin: 0 auto;
}

.highlight {
  background-color: blue;
  color: white;
  margin: 0 430px 10px;
  padding: 5px 0 5px;
}

.cd-container {
  width: 95%;
  max-width: 1170px;
  margin: 0 auto;
}

.cd-container::after {
  content: '';
  display: table;
  clear: both;
}

.cd-timeline-content {
  margin-left: 80px;
}

#cd-timeline {
  position: relative;
  padding: 1em 0;
  margin-bottom: 2em;
}

#cd-timeline h2 {
  text-align: left;
}

#cd-timeline::before {
  /* this is the vertical line */
  content: '';
  position: absolute;
  top: 0;
  left: 18px;
  height: 100%;
  width: 4px;
  background: #d7e4ed;
}

.cd-timeline-block {
  position: relative;
  margin: 2em 0;
}
.cd-timeline-block:after {
  content: "";
  display: table;
  clear: both;
}
.cd-timeline-block:first-child {
  margin-top: 0;
}
.cd-timeline-block:last-child {
  margin-bottom: 0;
}

.cd-timeline-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;

}

.cd-timeline-img span {
  display: block;
  width: 24px;
  height: 24px;
  position: relative;
  left: 50%;
  top: 50%;
  margin-left: -25px;
  margin-top: -19px;
  color: #c03b44;
  font-size: 150%;
  font-weight: bold;
}




  
  /*
   * Drew
   */
   
   #drew {
   		overflow:hidden;
   	}
   	
   .drewSN {
   		position:absolute;
   		top:0;
   		left:0;
   		display:block;
   		margin:0;
   		transition: all 500ms linear;
   	}
   	
   	#speeding {
   		display:block;
   		margin:50px auto;
   		width:80%;
   	}
   	
   	#drewTopics {
   		width:50%;
   		margin:40px auto;
   	}
   	
   	#futureImg {
   		display:block;
   	   	width:60%;
   		margin:auto;
   		border:1px solid black;
   	}
   	
   	#carStackImg {
   		display:block;
   	   	width:90%;
   		margin:100px auto;
   	}
   	
   .tbl {
   		display:block;
   		width:100%;
   		margin:auto;
   }
   
   .tblr {
   		display:inline-block;
   		width:100%;
   	}
   	
   	.tblc {
   		text-align:center;
   		display:inline-block;
   		width:49%;
   	}
   	 .tblc1 {
   		text-align:center;
   		display:inline-block;
   		width:100%;
   	}
   	
   	.tblc3 {
   		text-align:center;
   		display:inline-block;
   		width:32%;
   	}
   	
   	.tbl p {
		margin:20px 0;
   	 }
   	 
   	.lgnum {
   		font-size:70px;
   	}
   	
   	.smtext {
   		font-style:italic;
   	}
   	
   	/* List Styling */
   	
   	.srclst {
   		padding:0;
		text-align:center;
   		list-style:none;
   	}
  	
  	#readyVid, #compVid {
  		display:block;
  		margin:40px auto;
  		width:680px;
  		height:382px;
  	}
   	
   	#futureTxt, #sensorsTxt {
   		display:block;
		float:left;
   		width:30%;	
   		margin:0;
   		padding:0 2%;
   	}
   	
   	#futureTxt ol li, #sensorsTxt ol li {
   		margin:20px auto;
   	}
   	
   	.focus {
   		font-weight:bold;
   	}
   	
   	.emph {
   		font-style: italic;
   	}
 
 	#trolleyQs {
 	display:block !important;
 		width:100%;
 		height: 100%;
 		margin:auto;
 	}
  	#bikeVidDiv {
  		display:inline-block;
  		width:100%;
  	}  	
   	  	
  	#bikeVid {
  		display:block;
  		margin:20px auto;
  		width:680px;
  		height:382px;
  	}
  	
  	#trolleyImg {
		display:block;
		margin: 100px auto 50px auto;
		width:75%;
  	}
  	
  	#trolleyQuote {
  		font-size:15px;
  		font-style:italic;
  		width:100%;
  		text-align:center;
  	}
  	
	#map {
		width: 100%;
		height: 100%;
	}
	
  	.lineConnect {
  		fill: none;
		stroke-width: 1px;
		stroke: white;
		opacity: 0;
	}
	
	.point {
		fill: red;
		opacity: 0;
		transition: all 1000ms linear;
	}
		
		
	#drewLgnd {
		position:absolute;
		top: 500px;
		left:50px;
		z-index:1000;
	}
	
	#drewCntrl {
		position:absolute;
		top: 20px;
		right:20px;
		z-index:1000;
		width:300px;
		height:80px;
		opacity:0.7;
		background-color:black;
		border:1px solid white;
		display:none;
	}
	
	.ctrlbox {
		width:33%;
		height:100%;
		display:block;
		float:left;
	}
	
	#controls {
		border-right:1px solid white;
	}
	
	
	#nextYear, #prevYear {
		margin:0;
		padding:0;
		height:19%;
		width:50%;
		display:block;
		border:1px solid white;
		background-color:black;
		color:white;
		float:left;
	}
	
	
	#yearLbl {
		color:white;
		font-size:18px;
		display:block;
		width:100%;
		height:20%;
		text-align:center;
		font-family:sans-serif;
		margin:10% 0 0 0;
	}
	
	.lbl {
		color:white;
		font-size:12px;
		display:block;
		width:100%;
		height:20%;
		text-align:center;
		font-family:sans-serif;
		margin:10% 0 0 0;

	}
	
	.val {
		color:white;
		margin:0 0 0 0;
		font-size:26px;
		display:block;
		width:100%;
		height:45%;
		text-align:center;
		font-family:sans-serif;

	}
	
	.cbox {
		display:block;
		margin:auto;
	}
	
	.accident {
		fill:yellow;
	}